body{
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 150%
}

*:focus{
  outline: 2px dotted orange;
  outline-offset: 3px;
}
/* site header */
.site-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 5px solid #FF7500;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #ffff;

}

.logo{
  transition:opacity 0.4s ease;
}
.logo :hover{
opacity: 0.8;
}

.logo:active{
  opacity:0.6;
}

.logo img{
  display: block;
}
.site-header-right{

display: flex;
align-items: center;
}

.sitenav-list{
padding: 0;
margin: 0;
margin-right: 32px;
list-style: none;
display: flex;
}
.sitenav-item:last-child{
  margin-right: 0;
}
.sitenav-item{
  margin-right: 32px;
}

.sitenav-link{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;

  color: #000000;
  transition: color 0.2s ease, opacity 0.4s ease;
}

.sitenav-link:hover{
  color:#FF7500
}

.sitenav-link:active{
  opacity: 0.6;

}
.main-link{
  display: inline-block;
  border-radius: 4px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.5px;
  padding: 12px 24px;
  text-decoration: none;

  background: #FF7500;
  color: #FFFFFF;
  transition: opacity 0.4s ease;
}


.main-link:hover{
  opacity: 0.8;
}

.main-link:active{
  opacity: 0.6;
}


.hero{
  padding-top: 80px;
  padding-bottom: 80px;
  background: #252420;
  color: #FFFFFF;
  display: flex;
 align-items: center;
 justify-content: space-between;
}
.hero-content{
  width: 387px;
}
.orange-line{
  border: 0;
  margin: 0;
  margin-bottom: 40px;
  width: 80px;
  height: 3px;
  background: #FF7500;
  }

.hero-heading{
  font-family: 'Roboto Condensed';
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0.5px;
}

.hero-text{
  margin-top: 0;
  margin-bottom: 32px;
}
.hero-img{
  border-radius: 8px;
  width: 510px;
  height: 510px;
}

.hero-text{
  font-weight: 400;
font-size: 16px;
line-height: 150%;

letter-spacing: 0.5px;

}

/* Featurres */

.features{
  padding-top: 210px;
  padding-bottom: 210px;
}
.features-heading{
  font-family:'Roboto Condensed' ;
  margin-top: 0;
  margin-bottom: 72px;
  font-size: 72px;
  line-height: 1.2;
  width: 440px;
  letter-spacing: 0.5px;
  }

   .features-list{
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
    justify-content: space-between;
   }
.feature{
width: 340px;
margin-right: 40px;
}

.feature:last-child{
  margin-right: 0;
}

.feature-icon-wrapper{

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: rgba(255, 117, 0, 0.2);
  ;
}


.feature-title{
  font-family:'Roboto Condensed' ;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 1.2;
}
.feature-info{
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.5px;
}


.promo{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(37, 36, 32, 1);
  color: #ffff;
  border-radius: 12px;

}
.promo-content{
  width: 440px;


}

.promo-heading{
font-size: 40px;
line-height:48px ;
margin-top: 0;
margin-bottom: 24px;
}

.promo-text{
  font-weight: 400;
font-size: 16px;
line-height: 150%;

letter-spacing: 0.5px;

color: #FFFFFF;
}

.promo-highlite{
font-family: 'Roboto';
font-size: 700;
color:#FF7500 ;
}

.promo-img{
border-radius: 12px;
width: 440px ;
height: 440px;
object-fit: cover;
}

.site-footer{
  padding-top: 56px;
  padding-bottom: 56px;
  background-color: #f8f8f8;

}

.site-footer-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-footer ul{
  list-style: none;
  padding: 0;

}

.site-footer-socials{
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.site-footer-socials a{
  display: block;
}
/* Image block */
.site-footer-socials li{
  margin-right: 16px;
}

.site-footer-socials li:last-child{
  margin-right: 0;
}


.filter-green:hover{
  filter: invert(69%) sepia(65%) saturate(6100%) hue-rotate(1deg) brightness(103%) contrast(106%);
}

.filter-green:active{
  opacity: 0.6;
}

img.filter-green{
  display: block;
}

.site-footer-devider{
  border: 0;
  background: rgba(37, 36, 32, 0.5);
  height: 2px;
}

.site-footer-bottom{
  display: flex;
}

.site-footer-links{
  width: 224px;
  line-height: 19px;
  padding: 0;
  margin: 0;
  margin-right: 68px;

}

.site-footer-links:last-child{
  margin-right: 0;
}

.site-footer-links a{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
color: #242520;
}

.site-footer-links a:hover{
  color: #FF7500;
}
.site-footer-links a:active{
  opacity: 0.6;
}