:root {
  --accent-color: #ff7500;
  --text-font: "Roboto", Arial, sans-serif;
  --heading-font: "Roboto Condensed" "Roboto", Arial, sans-serif;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
}

* *::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: var(--text-font);
  font-weight: 400;
  font-size: 16px;
  color: #000;
  line-height: 150%;
}

*:focus {
  outline: 2px dotted var(--accent-color);
  outline-offset: 3px;
}

/* Container */

.container {
  width: 100%;
  max-width: 1140px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
/* site header */
.site-header {
  border-top: 5px solid var(--accent-color);
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #ffff;
}

.site-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  transition: opacity 0.4s ease;
}
.logo :hover {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.6;
}

.logo img {
  display: block;
}
.site-header-right {
  display: flex;
  align-items: center;
}

.sitenav-list {
  padding: 0;
  margin: 0;
  margin-right: 32px;
  list-style: none;
  display: flex;
}
.sitenav-item:last-child {
  margin-right: 0;
}
.sitenav-item {
  margin-right: 32px;
}

.sitenav-link {
  font-family: var(--heading-font);
  font-style: normal;
  font-weight: 800;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;

  color: #000000;
  transition: color 0.2s ease, opacity 0.4s ease;
}

.sitenav-link:hover {
  color: var(--accent-color);
}

.sitenav-link:active {
  opacity: 0.6;
}
.main-link {
  display: inline-block;
  border-radius: 4px;
  font-family: var(--heading-font);
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.5px;
  padding: 12px 24px;
  text-decoration: none;

  background: var(--accent-color);
  color: #ffffff;
  transition: opacity 0.4s ease;
}

.main-link:hover {
  opacity: 0.8;
}

.main-link:active {
  opacity: 0.6;
}

.hero {
  padding-top: 80px;
  padding-bottom: 80px;
  background: #252420;
  color: #ffffff;
}

.hero-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-content {
  width: 387px;
}
.orange-line {
  border: 0;
  margin: 0;
  margin-bottom: 40px;
  width: 80px;
  height: 3px;
  background: var(--accent-color);
}

.hero-heading {
  font-family: "Roboto Condensed";
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0.5px;
}

.hero-text {
  margin-top: 0;
  margin-bottom: 32px;
}
.hero-img {
  position: absolute;
  top: -40px;
  right: 20px;
  border-radius: 8px;
  width: 510px;
  height: 510px;
}

.hero-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.5px;
}

/* Featurres */

.features {
  padding-top: 210px;
  padding-bottom: 210px;
}
.features-heading {
  font-family: "Roboto Condensed";
  margin-top: 0;
  margin-bottom: 72px;
  font-size: 72px;
  line-height: 1.2;
  width: 440px;
  letter-spacing: 0.5px;
}

.features-list {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
  justify-content: space-between;
}
.feature {
  width: 340px;
  margin-right: 40px;
}

.feature:last-child {
  margin-right: 0;
}

.feature-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-bottom: 32px;
  width: 100px;
  height: 100px;
  background-color: rgba(255, 117, 0, 0.2);
}

.feature-title {
  margin-top: 0;
  margin-bottom: 12px;
  font-family: "Roboto Condensed";
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 1.2;
}
.feature-info {
  margin: 0;
  font-family: var(--heading-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.5px;
}

.promo {
  padding-top: 120px;
  padding-bottom: 160px;
}

.inner-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffff;
  padding: 64px;
  background-color: rgba(37, 36, 32, 1);
  border-radius: 12px;
}
.promo-content {
  width: 440px;
}

.promo-heading {
  font-size: 40px;
  line-height: 48px;
  margin-top: 0;
  margin-bottom: 24px;
}

.promo-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.5px;
  color: #ffffff;
}



.promo-highlite {
  font-family: var(--heading-font);
  font-size: 700;
  color: var(--accent-color);
}

.promo-img {
  position: absolute;
  bottom: 64px;
  right: 64px;
  border-radius: 12px;
  width: 440px;
  height: 440px;
  object-fit: cover;
}

.site-footer {
  padding-top: 56px;
  padding-bottom: 56px;
  background-color: #f8f8f8;
}

.site-footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-footer ul {
  list-style: none;
  padding: 0;
}

.site-footer-socials {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.site-footer-socials a {
  display: block;
}
/* Image block */
.site-footer-socials li {
  margin-right: 16px;
}

.site-footer-socials li:last-child {
  margin-right: 0;
}

.filter-green:hover {
  filter: invert(69%) sepia(65%) saturate(6100%) hue-rotate(1deg)
    brightness(103%) contrast(106%);
}

.filter-green:active {
  opacity: 0.6;
}

img.filter-green {
  display: block;
}

.site-footer-devider {
  border: 0;
  background: rgba(37, 36, 32, 0.5);
  height: 2px;
}

.site-footer-bottom {
  display: flex;
}

.site-footer-links {
  width: 224px;
  line-height: 19px;
  padding: 0;
  margin: 0;
  margin-right: 68px;
}

.site-footer-links li {
  margin-bottom: 16px;
}
.site-footer-links li:last-child {
  margin-bottom: 0;
}
.site-footer-links:last-child {
  margin-right: 0;
}

.site-footer-links a {
  font-family: var(--heading-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #242520;
}

.site-footer-links a:hover {
  color: var(--accent-color);
}
.site-footer-links a:active {
  opacity: 0.6;
}
