body{
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 150%
}
/* site header */
.site-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffff;

}

.logo{
  transition:opacity 0.4s ease;
}
.logo :hover{
opacity: 0.8;
}

.logo:active{
  opacity:0.6;
}

.site-header-right{

display: flex;
align-items: center;
}

.sitenav-list{
list-style: none;
display: flex;
}

.sitenav-link{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;

  color: #000000;
  transition: color 0.2s ease, opacity 0.4s ease;
}

.sitenav-link:hover{
  color:#FF7500
}

.sitenav-link:active{
  opacity: 0.6;

}
.main-link{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.5px;
  width: 155px;
  height: 39px;
  text-decoration: none;

  background: #FF7500;
  color: #FFFFFF;
  transition: opacity 0.4s ease;
}


.main-link:hover{
  opacity: 0.8;
}

.main-link:active{
  opacity: 0.6;
}


.hero{
  background: #252420;
  color: #FFFFFF;
  display: flex;
 align-items: center;
 justify-content: space-between;
}
.hero-content{
  width: 387px;
}
.orange-line{
  width: 80px;
  height: 3px;
  background: #FF7500;
  }

.hero-heading{
  font-family: 'Roboto Condensed';
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0.5px;
}
.hero-img{
  width: 510px;
  height: 510px;
}

.hero-text{
  font-weight: 400;
font-size: 16px;
line-height: 150%;

letter-spacing: 0.5px;

}

/* Featurres */
.features-heading{
  font-family:'Roboto Condensed' ;
  font-size: 72px;
  line-height: 1.2;
  width: 440px;
  letter-spacing: 0.5px;
  }

   .features-list{
    display: flex;
    list-style: none;
    justify-content: space-between;
   }
.feature{
width: 340px;
}

.feature-icon-wrapper{
  width: 100px;
  height: 100px;
  background-color: rgba(255, 117, 0, 0.2);
  ;
}


.feature-title{
  font-family:'Roboto Condensed' ;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 1.2;
}
.feature-info{
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.5px;
}


.promo{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(37, 36, 32, 1);
  color: #ffff;

}
.promo-content{
  width: 440px;


}

.promo-heading{
font-size: 40px;
line-height:48px ;
}

.promo-text{
  font-weight: 400;
font-size: 16px;
line-height: 150%;

letter-spacing: 0.5px;

color: #FFFFFF;
}

.promo-highlite{
font-family: 'Roboto';
font-size: 700;
color:#FF7500 ;
}

.promo-img{
width: 440px ;
height: 440px;
object-fit: cover;
}

.site-footer{
  background-color: #f8f8f8;

}

.site-footer-top{
  display: flex;
  justify-content: space-between;
}

.site-footer ul{
  list-style: none;

}

.site-footer-socials{
  display: flex;
  justify-content: space-between;
}

.filter-green:hover{
  filter: invert(69%) sepia(65%) saturate(6100%) hue-rotate(1deg) brightness(103%) contrast(106%);
}

.filter-green:active{
  opacity: 0.6;
}

.site-footer-devider{
  background: rgba(37, 36, 32, 0.5);
  height: 2px;
}

.site-footer-bottom{
  display: flex;
}

.site-footer-links a{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
color: #242520;
}

.site-footer-links a:hover{
  color: #FF7500;
}
.site-footer-links a:focus{
  opacity: 0.6;
}